
<div class="row mt-5">
  <div class="col-md-4 col-sm-12 mx-auto">
      <img class="w-100 mx-auto" src="https://threadheads.com/cdn/shop/products/astroboy-jerriPXL_1018.jpg?v=1657782791&width=1000" alt="Product Image" >
  </div>

  <div class="item-info container col-md-5 cols-sm-12 mt-4">
    <h4 class="m-2 text-center">Item Name : {{ product?.name }}</h4>

    <div class="ms-4 text-warning border-1 text-center my-3 col-11 bg-light p-3 rounded">
        <h6 class="price fs-6">Item Price: {{ product?.price }} {{ product?.id}} DH</h6>
        <small class="text-muted">Tax not included. Shipping calculated at checkout.</small>
    </div>

    <div class="text-center">
        <form>
            <div class="col-2">
                <input type="number" value="1" min="1"
                    class="w-50 product-quantity m-3 bg-light border-warning border-1 mb-4 ms-3 p-1 rounded"
                    style="--bs-border-opacity: .5;" name="quantity" id="quantity">
            </div>
            <button type="submit" (click)="AddProductToCart(product?.id!, 1)"
                class="btn btn-warning rounded col-11 py-3">
                ADD TO CART
            </button>
        </form>

        <button class="btn btn-outline-warning rounded-0 col-11 py-3 mt-3"
            style="--bs-border-opacity: .5;" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Description
            <div class="collapse " id="collapseExample">
                <div class="card card-body bg-light mt-1 border-0 rounded">
                    <p class="text-muted">{{ product?.description }}</p>
                </div>
            </div>
        </button>
    </div>
</div>

</div>
