.nav-itemm {
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}
.update-button {
  margin-right: 0.5rem;
}
/* hover white for create button */
.create-btn:hover {
  background-color: white!important;
  color: black;
}

body {
  background-color: #f8f9fa;
}

.sidebar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 100vh;
}

.navbar {
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-content {
  margin-top: 20px;
}

.secondary-color {
  color: #ffc60a;
}

.category-card,
.product-card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  background-color: #ffc60a;
  color: #fff;
}

.card-body {
  background-color: #fff;
}

.btn-secondary {
  background-color: #ffc60a;
  color: #fff;
}
