<div class="container">
  <h2 class="text-center mt-4 mb-5">My Orders</h2>
  <div *ngIf="orders.length === 0" class="text-center mt-3">No orders found.</div>

  <div *ngFor="let order of orders" class="order-card">
      <div class="order-card-header">
          <strong>Order Status: </strong>{{ order.status }}
      </div>
      <div class="order-details">
          <div class="order-info">
              <strong>Full Name:</strong> {{ order.fullName }}
          </div>
          <div class="order-info">
              <strong>Email:</strong> {{ order.email }}
          </div>
          <div class="order-info">
              <strong>Phone:</strong> {{ order.phone }}
          </div>
          <div class="order-info">
              <strong>Address:</strong> {{ order.address }}
          </div>
          <div class="order-info">
              <strong>Zip Code:</strong> {{ order.zipCode }}
          </div>
      </div>
  </div>
</div>
