

<style>
  .text-yellow {
  color: #f7b924;
}

</style>
<nav class="navbar navbar-expand-lg navbar-light bg-white py-3 ">
  <div class="container px-5">
      <a class="navbar-brand" href="/home"><span class="fw-bolder">Shirt<span class="fw-bolder text-yellow">Shine</span></span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
            <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/products">Products</a></li>
              <!-- if the user not logged in show login and signup -->
              <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/login">Login</a>
              </li>
              <li class="nav-item" *ngIf="!isLoggedIn">
                <a class="nav-link" routerLink="/register">Signup</a>
              </li>
              <!-- Other navbar items go here -->

              <li class="nav-item" *ngIf="isLoggedIn">
                <a class="nav-link" (click)="logout()">Logout</a>
              </li>
          </ul>
      </div>
  </div>
  <a class="nav-link fs-5  me-5 d-flex align-items-center" href=""><i class='bx bx-cart-alt'></i> Cart</a>
</nav>


  <router-outlet></router-outlet>

