<nav class="bg-cover bg-center bg-gray-800 text-gray-300 shadow-md p-4">
  <div class="container mx-auto flex items-center justify-between">
    <img src="assets/images/ShirtShineLogo.png" alt="logo" class="w-28" />
    <ul class="flex items-center space-x-4" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link hover:text-white hover:underline">Home</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link hover:text-white hover:underline">Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="showSuperAdminBoard">
        <a href="/super-admin" class="nav-link hover:text-white hover:underline">Super Admin Board</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/user" class="nav-link hover:text-white hover:underline">User</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a href="/roles" class="nav-link hover:text-white hover:underline">Roles</a>
      </li>
    </ul>

    <ul class="flex items-center space-x-4" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link hover:text-white hover:underline">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link hover:text-white hover:underline">Login</a>
      </li>
    </ul>

    <ul class="flex items-center space-x-4" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link hover:text-white hover:underline">{{ name }}</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link hover:text-white hover:underline" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
