    <header class="products-header">
      <!-- Include static content for the header if any -->
    </header>

    <div class="my-4 py-5 d-flex justify-content-center">
      <h1 class="fs-1">Our <span> Products</span></h1>
    </div>
    <div class="d-flex align-content-around flex-wrap row row-cols-4 mx-auto gap-4 justify-content-center ">
      <div *ngFor="let product of products" class="product-card-container row m-0 col ">

        <div class="product-grid">
          <div class="product-image p-2 rounded-2">
            <a routerLink="/view-product/{{ product.id }}" class="image">
              <img class="pic-1 rounded-5"
                src="https://threadheads.com/cdn/shop/products/astroboy-jerriPXL_1018.jpg?v=1657782791&width=1000">
            </a>
            <span class="product-discount-label">{{ product.promotion }}%</span>
          </div>
          <div class="product-content">
            <h3 class="title"><a href="#">{{ product.name }}</a></h3>
            <div class="price">{{ product.price }}</div>
            <a class="add-to-cart" (click)="AddProductToCart(product.id, 1)">+ Add to cart</a>
          </div>
        </div>
        <!-- End product loop -->

      </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
