<div class="container mx-auto mt-8 p-6 bg-gray-800 text-gray-300 shadow-md rounded-md" style="width: 300px;">
  <div class="flex justify-center items-center mb-4">
      <div class="rounded-full overflow-hidden border-4 border-blue-500">
          <img src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" alt="profile" class="w-24 h-24" />
      </div>
  </div>
  <header class="text-2xl font-bold mb-4">
      <strong>{{ currentUser.name }}</strong> Profile
  </header>
  <p class="mb-4">
      <strong>Email:</strong> {{ currentUser.email }}
  </p>
  <p>
      <strong>Role:</strong> {{ currentUser.role }}
  </p>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template>
